select {
	width: 150px;
	height: 80px;
}

.first {
	display: inline-block;
}

.second {
	display: inline-block;
}

.third {
	display: inline-block;
}

input {
	display: block;
	padding: 5px 5px;
	margin-bottom: 3px;
}


div {
	margin-right: 10px;
}